<div >
  <h1><b>Product Category Management</b></h1>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  [loadingText]="loadingtext"
  type="ball-scale-ripple-multiple">
</ngx-spinner>


<ng-template #loading>
  <alert type="danger">
    <strong>Warning!</strong> You are not authorised to access this page.
  </alert>
</ng-template>

<!--Add New Category-->
<ng-template #AddCat>

  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Product Category</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalAdd.hide()">
    </button>
  </div>
  <div class="modal-body">
    <div class="ibox-content">
      <form name="form" autocomplete="off" (keydown.enter)="$event.preventDefault()" #categoryAdd="ngForm" (ngSubmit)="categoryAdd.form.valid && addCategory(categoryAdd.value)" class="form-horizontal" novalidate>
        <!--<div class="form-group">-->
          <!--<label class="col-sm-2 control-label">Category Code*</label>-->
          <!--<div class="col-sm-10" [ngClass]="{ 'has-error': categoryAdd.submitted && !code.valid }">-->
            <!--<input type="text" name="code" class="form-control" ngModel #code="ngModel" required>-->
            <!--<small [hidden]="code.valid || (code.pristine && !categoryAdd.submitted)" class="text-danger">-->
              <!--Category Code is required-->
            <!--</small>-->
          <!--</div>-->
        <!--</div>-->

        <div class="form-group"><label class="col-sm-2 control-label">Category Name*</label>
          <div class="col-sm-10" [ngClass]="{ 'has-error': categoryAdd.submitted && !name.valid }">
            <input type="text" name="name" Capitalize class="form-control" ngModel #name="ngModel" required>
            <small [hidden]="name.valid || (name.pristine && !categoryAdd.submitted)" class="text-danger">
              Category Name is required
            </small>
          </div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Parent Category</label>
          <div class="col-sm-10">
            <ng-select class="col-lg-9 col-sm-9 col-md-9 col-xs-9" [multiple]="false"
                       [items]="categoryNameObj" name="parentCategory" (data)="refreshValue1($event)"
                       (selected)="getMerchantType($event)"
                       [disabled]="disabled" id="parentCategory"
                       placeholder="Select Parent Category">
            </ng-select>
          </div>
        </div>
        <div *ngIf="chain" class="form-group">
          <label class="col-sm-2 control-label">Category Level:</label>
          <div class="col-sm-10">
            <ul class="breadcrumb">
              <li *ngFor="let cat of chain; let i = index">
                <!--<h3>{{chain.length}}</h3>-->
                <a><button *ngIf="i !== chain.length - 1" type="button" class="btn btn-warning btn-arrow-right">{{cat.name}}</button></a>
                <a><button *ngIf="i === chain.length - 1" type="button" class="btn btn-danger btn-arrow-right">{{cat.name}}</button></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group"><label class="col-sm-2 control-label">Icon</label>
          <div class="col-sm-10" >
            <input type="file" class="btn-bs-file btn btn-primary" accept="image/*"  (change)="fileSelect($event)">
            <!--<small [hidden]="icon.valid || (icon.pristine && !categoryAdd.submitted)" class="text-danger">-->
            <!--Category Icon is required-->
            <!--</small>-->
          </div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Category Discription</label>
          <div class="col-sm-10"><input type="text" Capitalize class="form-control" name="description" ngModel></div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <input type="submit" class="btn btn-w-m btn-success" value="Save"/>
            <button type="button" class="btn btn-white" (click)="modalAdd.hide()">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<!--Update Category-->
<ng-template #EditCat>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Subscription {{categoryIdObj?.name}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalUpdate.hide()">
    </button>
  </div>
  <!--<div class="modal-body">-->
    <div class="ibox-content">


      <form name="form" autocomplete="off" (keydown.enter)="$event.preventDefault()" (ngSubmit)="categoryUpdate.form.valid && updateCategory(categoryUpdate.value)" #categoryUpdate="ngForm" class="form-horizontal" novalidate>


        <div class="form-group">
          <label class="col-sm-2 control-label">Category Code*</label>
          <div class="col-sm-10" [ngClass]="{'has-error': categoryUpdate.submitted && !code.valid}">
            <input type="text" name="code" class="form-control" disabled [ngModel]="categoryIdObj?.code" (ngModelChange)="categoryIdObj.code=$event" #code="ngModel" required>
            <small [hidden]="code.valid || (code.pristine && !categoryUpdate.submitted)" class="text-danger">
              Category Code is required
            </small>
          </div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Category Name*</label>
          <div class="col-sm-10" [ngClass]="{ 'has-error': categoryUpdate.submitted && !name.valid }">
            <input type="text" name="name" class="form-control" Capitalize [ngModel]="categoryIdObj?.name" (ngModelChange)="categoryIdObj.name=$event" #name="ngModel" required>
            <small [hidden]="name.valid || (name.pristine && !categoryUpdate.submitted)" class="text-danger">
              Category Name is required
            </small>
          </div>
        </div>


        <div [hidden]="categoryIdObj?.parentCategory"  class="form-group"><label class="col-sm-2 control-label">Parent Category</label>
          <div class="col-sm-10">
            <ng-select class="col-lg-9 col-sm-9 col-md-9 col-xs-9" [multiple]="false"
                       [items]="parentcategoryNameObj" placeholder="Select Category"
                       [disabled]="disabled" name="parentCategory" (data)="refreshValue2($event)"
                       id="expselect">
            </ng-select>
          </div>
        </div>

        <div [hidden]="!categoryIdObj?.parentCategory" class="form-group"><label class="col-sm-2 control-label">Parent Category</label>
          <div class="col-sm-10">
            <ng-select class="col-lg-9 col-sm-9 col-md-9 col-xs-9" [multiple]="false"
                       [items]="categoryNameObj" [active]="[parentCat]" (ngModelChange)="categoryIdObj.parentCategory=$event"
                       [disabled]="disabled" name="parentCategory"  (data)="refreshValue2($event)"
            >
            </ng-select>
          </div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Icon</label>
          <div class="col-sm-10" >
            <input type="file" class="btn-bs-file btn btn-primary" accept="image/*"  (change)="editfileSelect($event)">
            <!--<small [hidden]="icon.valid || (icon.pristine && !categoryAdd.submitted)" class="text-danger">-->
            <!--Category Icon is required-->
            <!--</small>-->
          </div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Category Discription</label>
          <div class="col-sm-10"><input type="text" class="form-control" name="description" [ngModel]="categoryIdObj?.description" (ngModelChange)="categoryIdObj.description=$event"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <input type="submit" class="btn btn-w-m btn-success" value="Update"/>
            <button type="button" class="btn btn-white" (click)="modalUpdate.hide()">Close</button>
          </div>
        </div>
      </form>
    </div>
  <!--</div>-->
</ng-template>
<!--View Category-->
<ng-template #ViewCat>
  <div class="modal-header">
    <h4 class="modal-title pull-left">View Product Category {{categoryIdObj?.name}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalUpdate.hide()">
    </button>
  </div>
  <!--<div class="modal-body">-->
    <div class="ibox-content">
      <form name="form" #categoryUpdate="ngForm" (keydown.enter)="$event.preventDefault()" class="form-horizontal" novalidate>
        <div class="form-group">
          <label class="col-sm-2 control-label">Category Code</label>
          <div class="col-sm-10">
            <input type="text" name="code" class="form-control" disabled [ngModel]="categoryIdObj?.code" (ngModelChange)="categoryIdObj.code=$event" #code="ngModel" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Category Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" disabled  [ngModel]="categoryIdObj?.name" (ngModelChange)="categoryIdObj.name=$event" #name="ngModel" required>
          </div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Created At</label>
          <div class="col-sm-10"><input type="text" disabled class="form-control" name="createdAt" [ngModel]="createdAt" (ngModelChange)="categoryIdObj.createdAt=$event"></div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Index</label>
          <div class="col-sm-10"><input type="text" disabled class="form-control" name="index" [ngModel]="categoryIdObj?.index" (ngModelChange)="categoryIdObj.index=$event"></div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Icon</label>
          <div class="col-sm-10"><input type="text" disabled class="form-control" name="icon" [ngModel]="categoryIdObj?.icon" (ngModelChange)="categoryIdObj.description=$event"></div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Status</label>
          <div class="col-sm-10"><input type="text" disabled  class="form-control" name="status" [ngModel]="categoryIdObj?.status" (ngModelChange)="categoryIdObj.description=$event"></div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Type</label>
          <div class="col-sm-10"><input type="text" disabled class="form-control" name="type" [ngModel]="categoryIdObj?.type" (ngModelChange)="categoryIdObj.description=$event"></div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Updated At</label>
          <div class="col-sm-10"><input type="text" disabled class="form-control" name="updatedAt" [ngModel]="updatedAt" (ngModelChange)="categoryIdObj.description=$event"></div>
        </div>

        <div class="form-group"><label class="col-sm-2 control-label">Id</label>
          <div class="col-sm-10"><input type="text" disabled class="form-control" name="_id" [ngModel]="categoryIdObj?._id" (ngModelChange)="categoryIdObj._id=$event"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <button type="button" class="btn btn-white" (click)="modalUpdate.hide()">Close</button>
          </div>
        </div>
      </form>
    </div>
  <!--</div>-->
</ng-template>

<!--Manage Sequence-->
<ng-template #ManageCat >
  <div class="modal-header">
    <h4 class="modal-title pull-left">Product Manage Category Display Sequence</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalManage.hide()">
    </button>
  </div>
  <div class="modal-body">
    <div class="ibox-content">
      <form name="form" autocomplete="off" (keydown.enter)="$event.preventDefault()" #categorySeqManage="ngForm" (ngSubmit)="manageSeqCategory(categoryPCObj)" class="form-horizontal">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-success">
              <div class="panel-heading">
                Product Category
              </div>
              <div class="panel-body">
                <ul class="list-group" dnd-sortable-container [sortableData]="categoryPCObj">
                  <li *ngFor="let parcat of categoryPCObj; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">{{parcat.name}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <input type="submit" class="btn btn-w-m btn-success" value="Update"/>
            <button type="button" class="btn btn-white" (click)="modalManage.hide()">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<!--CategoryTable-->
<div *ngIf="view ;else loading;" readonly class="wrapper wrapper-content animated">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5 style="font-size: 25px;">Product Category List</h5>
      <div class="ibox-tools">
        <a><button class="btn btn-outline btn-primary  dim " (keydown.enter)="$event.preventDefault()" title="Add Category"  [disabled]="!add"   (click)="addCatModel(AddCat)"><i class="fa fa-plus"></i></button></a>
        <!--<button class="btn btn-outline btn-success  dim " title="Refresh Data" (click)="refresh()" type="button"><i class="fa fa-refresh"></i></button>-->
        <button class="btn btn-outline btn-danger  dim " (keydown.enter)="$event.preventDefault()" title="Manage Sequence" [disabled]="!edit" (click)="manageseq(ManageCat)" type="button"><i class="fa fa-list"></i></button>
        <!--<button class="btn btn-outline btn-info  dim " (keydown.enter)="$event.preventDefault()" type="button" [disabled]="!edit" (click)="download()" title="Export"><i class="fa fa-file-text"></i></button>-->

      </div>
      <!--<button type="button" class="btn btn-warning btn-arrow-right"><i class="fa fa-home"></i></button>-->
    </div>
    <div class="ibox-content" style="width:100%; overflow-x:scroll;">
      <div class="dataTables_wrapper form-inline dt-bootstrap">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover dataTables-example">
          <thead>
          <tr>
            <th>Icon</th>
            <th>Code</th>
            <th>Name</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Sub Category</th>
            <th>Attributes</th>
            <th>View Detail</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let category of categoryObj">
            <td><img class="img-thumbnail" alt="{{category.icon}}" width="100" height="30"
                     src={{category.url}}></td>
            <td>{{category.code}}</td>
            <td>{{category.name}}</td>
            <td><button [disabled]="!edit" class="btn btn-success btn-sm" (keydown.enter)="$event.preventDefault()" (click)="statuschange(category.status, category._id)" [ngClass]="{'deactivestatus': category.status !== 'Active', 'activestatus': category.status == 'Active' }">{{category.status}}</button></td>
            <td><button [disabled]="!edit" type="button" class="btn btn-primary" (keydown.enter)="$event.preventDefault()" (click)="getCategoryById(category._id, EditCat)">Edit</button></td>
            <td><a [routerLink]="['/category/Product',category._id]"><button [disabled]="!edit" type="button" class="btn btn-primary">Manage</button></a></td>
            <td><a [routerLink]="['/category/pro/attribute',category._id]"><button [disabled]="!edit" type="button" class="btn btn-primary">Attributes</button></a></td>
            <td><a><button type="button" (click)="getCategoryById(category._id, ViewCat)" (keydown.enter)="$event.preventDefault()" class="btn btn-primary">View Details</button></a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
