

<nav class="navbar-default navbar-static-side content" role="navigation"
     style="position: fixed;height:100%; overflow-y:scroll;">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li>
        <a><i class="fa fa-th-large"></i><span class="nav-label">Voucher Management</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" [ngClass]="{active: activeRoute('voucher')}">
          <li [ngClass]="{active: activeRoute('manage')}"><a [routerLink]="['/voucher/manage']">Voucher Management</a></li>
          <li [ngClass]="{active: activeRoute('reedem')}"><a [routerLink]="['/voucher/reedem']">Voucher Reedem Details</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
