<ng-template #loading>
  <alert type="danger">
    <strong>Warning!</strong> You are not authorised to access this page.
  </alert>
</ng-template>

<div *ngIf="view ;else loading;" class="col-lg-12 col-sm-12 col-md-12 col-xs-12 form-horizontal"
     style="background-color: white;">
  <h5 style="font-size: 25px;">Profile Manage</h5>
  <hr>
  <fieldset [disabled]="!edit">
    <form name="form" #updateuser="ngForm" (ngSubmit)="updateuser.form.valid && updateUser(updateuser.value)"
          (keydown.enter)="$event.preventDefault()" autocomplete="off" novalidate>
      <div class="row">
        <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">First Name: *</label>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10"><input type="text" name="firstName" class="form-control"
                                                                    Capitalize
                                                                    #firstName="ngModel" ngModel
                                                                    [ngModel]="employeeObj?.firstName"
                                                                    (ngModelChange)="employeeObj.firstName=$event"
                                                                    required pattern="[a-zA-Z][a-zA-Z ]+">
          <small
            [hidden]="!firstName.hasError('required') || firstName.valid || (firstName.pristine && !updateuser.submitted)"
            class="text-danger">
            First Name is required
          </small>
          <small
            [hidden]="!firstName.hasError('pattern') || firstName.valid || (firstName.pristine && !updateuser.submitted)"
            class="text-danger">
            First Name dose not contain the number
          </small>
        </div>
      </div>
      <br>
      <div class="row">
        <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Last Name: *</label>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10"><input type="text" name="lastName" class="form-control"
                                                                    Capitalize
                                                                    #lastName="ngModel" ngModel
                                                                    [ngModel]="employeeObj?.lastName"
                                                                    (ngModelChange)="employeeObj.lastName=$event"
                                                                    required pattern="[a-zA-Z][a-zA-Z ]+">
          <small
            [hidden]="!lastName.hasError('required') || lastName.valid || (lastName.pristine && !updateuser.submitted)"
            class="text-danger">
            Last Name is required
          </small>
          <small
            [hidden]="!lastName.hasError('pattern') || lastName.valid || (lastName.pristine && !updateuser.submitted)"
            class="text-danger">
            Last Name dose not contain the number
          </small>
        </div>
      </div>
      <br>
      <div class="row">
        <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Date of Birth</label>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 input-group">
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <input type="text"
                   #dob="ngModel"
                   name="dob"
                   class="form-control"
                   #dp="bsDatepicker"
                   ngModel required [maxDate]="maxDate"
                   [ngModel]="employeeObj?.dob" (ngModelChange)="employeeObj.dob=$event"
                   bsDatepicker>
          </div>
          <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1">
            <button type="button" class="btn btn-default" (click)="dp.show()"><i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
        <small
          [hidden]="!dob.hasError('required') || dob.valid || (dob.pristine && !updateuser.submitted)"
          class="text-danger">
          Date of Birth is required.
        </small>
      </div>
      <br>
      <div class="row">
        <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Mobile No *</label>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
          <input type="text" name="mobileNumber"
                 class="form-control" ngModel
                 #mobileNumber="ngModel" required
                 [disabled]="true"
                 [ngModel]="employeeObj?.mobileNumber" (ngModelChange)="employeeObj.mobileNumber=$event"
                 pattern="^(0|[0-9][0-9]*)$" maxlength="10"
                 minlength="10">
          <small
            [hidden]="!mobileNumber.hasError('required') || mobileNumber.valid || (mobileNumber.pristine && !updateuser.submitted)"
            class="text-danger">
            Mobile number is required
          </small>
          <small
            [hidden]="!mobileNumber.hasError('pattern') || mobileNumber.valid || (mobileNumber.pristine && !updateuser.submitted)"
            class="text-danger">
            Mobile number should be only numbers
          </small>
        </div>
      </div>
      <br>
      <div class="row">
        <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Email *</label>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
          <input type="email" name="email" class="form-control" #email="ngModel" ngModel required
                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                 [ngModel]="employeeObj?.email" (ngModelChange)="employeeObj.email=$event"
          >
          <small
            [hidden]="!email.hasError('required') || email.valid || (email.pristine && !updateuser.submitted)"
            class="text-danger">
            Email is required
          </small>
          <small
            [hidden]="!email.hasError('pattern') || email.valid || (email.pristine && !updateuser.submitted)"
            class="text-danger">
            Please enter valid email address.
          </small>
        </div>
      </div>
      <br>
      <div class="row">
        <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Gender:</label>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
          <select data-placeholder="Choose a Gender" name="gender"
                  class="chosen-select select2_demo_3 form-control" required #gender="ngModel"
                  [ngModel]="employeeObj?.gender" (ngModelChange)="employeeObj.gender=$event"
                  ngModel>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
          <small
            [hidden]="!gender.hasError('required') || gender.valid || (gender.pristine && !updateuser.submitted)"
            class="text-danger">
            Gender is required.
          </small>
        </div>
      </div>
      <br>
      <div class="row">
        <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Sales Person:</label>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
          <select name="empType"
                  class="chosen-select select2_demo_3 form-control" required #salesPerson="ngModel"
                  [ngModel]="employeeObj?.empType" (ngModelChange)="employeeObj.empType=$event"
                  ngModel>
            <option value="Back office">Back office</option>
            <option value="Sales Person">Sales Person</option>
            <option value="Admin">Admin</option>
            <option value="Sales Manager">Sales Manager</option>
            <option value="Operator">Operator</option>
            <option value="Other">Other</option>
          </select>
          <small
            [hidden]="!salesPerson.hasError('required') || salesPerson.valid || (salesPerson.pristine && !updateuser.submitted)"
            class="text-danger">
            Sales Person is required.
          </small>
        </div>
      </div>
      <br>
      <h3>Address:</h3>
      <hr>
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 ">
          <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Name:</label>
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <select name="name"
                    [ngModel]="employeeObj?.address[0]?.name" (ngModelChange)="employeeObj.address[0].name=$event"
                    class="chosen-select select2_demo_3 form-control" required #name="ngModel"
                    ngModel>
              <option value="Home">Home</option>
              <option value="office">office</option>
              <option value="Permanent">Permanent</option>
            </select>
            <small
              [hidden]="!name.hasError('required') || name.valid || (name.pristine  && !updateuser.submitted)"
              class="text-danger">
              Name is required.
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 ">
          <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Address:</label>
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <input type="text" name="address1" class="form-control" Capitalize
                   #address1="ngModel" ngModel
                   [ngModel]="employeeObj?.address[0]?.address1" (ngModelChange)="employeeObj.address[0].address1=$event"
                   required pattern="[a-zA-Z][a-zA-Z ]+">
            <small
              [hidden]="!address1.hasError('required') || address1.valid || (address1.pristine && !updateuser.submitted)"
              class="text-danger">
              Address is required
            </small>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 ">
          <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Landmark:</label>
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <input type="text" name="landmarks" class="form-control" Capitalize
                   #landmarks="ngModel" ngModel
                   [ngModel]="employeeObj?.address[0]?.landmarks"
                   (ngModelChange)="employeeObj.address[0].landmarks=$event"
                   required pattern="[a-zA-Z][a-zA-Z ]+">
            <small
              [hidden]="!landmarks.hasError('required') || landmarks.valid || (landmarks.pristine && !updateuser.submitted)"
              class="text-danger">
              Landmark is required
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 ">
          <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">City:</label>
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <select name="city"
                    class="chosen-select select2_demo_3 form-control" required #city="ngModel"
                    [ngModel]="employeeObj?.address[0]?.city" (ngModelChange)="employeeObj.address[0].city=$event"
                    ngModel>
              <option value="Mumbai">Mumbai</option>
              <option value="Kolkata">Kolkata</option>
            </select>
            <small
              [hidden]="!city.hasError('required') || city.valid || (city.pristine && !updateuser.submitted)"
              class="text-danger">
              City is required.
            </small>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 ">
          <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">State:</label>
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <select name="state"
                    [ngModel]="employeeObj?.address[0]?.state" (ngModelChange)="employeeObj.address[0].state=$event"
                    class="chosen-select select2_demo_3 form-control" required #state="ngModel"
                    ngModel>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Gujarat">Gujarat</option>
            </select>
            <small
              [hidden]="!state.hasError('required') || state.valid || (state.pristine && !updateuser.submitted)"
              class="text-danger">
              State is required.
            </small>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 ">
          <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Country:</label>
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10">
            <select name="country"
                    class="chosen-select select2_demo_3 form-control" required #country="ngModel"
                    [ngModel]="employeeObj?.address[0]?.country" (ngModelChange)="employeeObj.address[0].country=$event"
                    ngModel>
              <option value="India">India</option>
              <option value="US">US</option>
            </select>
            <small
              [hidden]="!country.hasError('required') || country.valid || (country.pristine && !updateuser.submitted)"
              class="text-danger">
              Country is required.
            </small>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
          <label class="col-lg-2 col-sm-2 col-md-2 col-xs-2 control-label">Pincode</label>
          <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10"><input type="text" class="form-control" name="postalCode"
                                                                      ngModel
                                                                      [ngModel]="employeeObj?.address[0]?.postalCode"
                                                                      (ngModelChange)="employeeObj.address[0].postalCode=$event"
                                                                      #postalCode="ngModel" required
                                                                      pattern="^(0|[0-9][0-9]*)$" maxlength="6"
                                                                      minlength="6">
            <small
              [hidden]="!postalCode.hasError('required') || postalCode.valid || (postalCode.pristine && !updateuser.submitted)"
              class="text-danger">
              Pincode is required
            </small>
            <small
              [hidden]="!postalCode.hasError('pattern') || postalCode.valid || (postalCode.pristine && !updateuser.submitted)"
              class="text-danger">
              Pincode should be only numbers
            </small>
          </div>
        </div>
      </div>
      <br> <br>
      <button type="submit" class="btn btn-primary">Update Profile</button>&nbsp;&nbsp;&nbsp;
      <a [routerLink]="['/systemsettings/userList']">
        <button type="button" class="btn btn-warning">Cancel</button>
      </a><br><br>
      <br>
    </form>
  </fieldset>
</div>



